/* Color Theme Swatches in Hex */
.Dark-Spots-1-hex { color: #42708C; }
.Dark-Spots-2-hex { color: #8FADBF; }
.Dark-Spots-3-hex { color: #C5D1D9; }
.Dark-Spots-4-hex { color: #024059; }
.Dark-Spots-5-hex { color: #010000; }

html,body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
    color: white;
}

/* Navbar Styling */

nav{
    position:sticky;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    height: auto;
    display: flex;
    background: #010000;
    
    color: white;
}
.name{
    margin:auto;
    padding:10px 10px;
    flex:1 0 100px;
    justify-content: flex-start;
    font-size: 32px;
}
.links{
    width:40%;
    display:flex;
    list-style-type: none;
    justify-content: space-around;
}

.links li{
    text-align: center;
    flex: 1 0 0;
    display: flex;
    align-items: center;
    color: #C5D1D9;
}
.links li a{
    margin: auto;
    flex: 1 0 0;
    text-decoration: none;
    color:inherit;
}

.links li:hover{
    background-color: #C5D1D9;
    color: #010000;
    
}

/*main*/
body{
    background-repeat: no-repeat;
    background-image: url('/img/blob-scene-haikei.svg');
}

.main{
    display: flex;
    flex-direction: row;
    z-index: -1;
    margin:2% 2%;
    padding:2% 2%;
    height: 500px;
    background:rgba(143, 173, 191, 0.3);
    border-radius: 25px;
    white-space: nowrap;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.pfp{
    max-width: 30%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-style:solid;
    border-width: 5px;
    border-color: white;
    flex:0 0 0;
}

.main p{
    margin:0 0;
    white-space: pre-line;

    color: white;
    font-size:44px;
}
.main p span{
    font-weight: Bold;
}
/*test*/